{%extends "base.html" %}
{% block qrcode %}active{% endblock %}
{%block content %}
{% if message is defined and message != '' %}
<div class="alert alert-{{ lvl }}" role="alert">
{{ message|safe }}
</div>
{% else %}
<div class="alert" role="alert">&nbsp;</div>
{% endif %}
<h1>QR Codes erstellen</h1>
<p class="lead"></p>
<ul style="list-style-type:none;float:left">
<li>
<form class="form-inline my-2 my-lg-0">
<input class="form-control mr-sm-2" type="number" placeholder="ID" aria-label="ID" name="besucher_id" value="{{ besucher_id }}">
<button class="btn btn-outline-success my-2 my-sm-0" type="submit" formaction="/qrcode" formmethod="get">laden</button>
</form>
</li>
<form class="form my-2 my-lg-0">
<li style="margin-right:3em">
<p></p>
<input class="form-control mr-sm-2" type="text" placeholder="Name" aria-label="Name" size="50" maxlength="45" name="name" value="{{ name }}" onkeydown="return event.key != 'Enter';">
</li>
<li style="margin-right:3em">
<input class="form-control mr-sm-2" type="text" placeholder="Kontakt (E-Mail oder Telefon)" aria-label="Kontakt (E-Mail oder Telefon)" name="kontakt" size="50" value="{{ kontakt }}" onkeydown="return event.key != 'Enter';">
</li>
<li style="margin-top:1em">
    <button class="btn btn-outline-success my-2 my-sm-0" type="submit" formaction="/qrcode" formmethod="post">Code generieren</button>
</li>
</form>
</ul>
{{ svg }}
{% endblock %}
