/* Move down content because we have a fixed navbar that is 3.5rem tall */
body {
  padding-top: 3.5rem;
}

#maincontent {
    padding-top: 0;
}

input[type="radio"] {
    display: table-cell;
    vertical-align: middle
}

label {
    padding-right: 1em;
}
